absl-py~=2.1.0
flask~=3.0.3
grpcio~=1.68.1
grpcio-status~=1.68.1
gunicorn~=23.0.0
numpy~=2.0.2
requests~=2.32.3
# TODO: b/375469331 - Enable testing with most current requests-mock release.
requests-mock==1.9.3
tensorflow~=2.18.0
tensorflow-serving-api~=2.18.0
tensorflow-io-gcs-filesystem>=0.23.1
setuptools~=75.6.0
typing-extensions~=4.12.2
